#logo{
    width: 25px; margin-top: -50px; margin-left: auto;padding-right: 1px;
}
#link-logo{
    margin-top: -50px; margin-left: auto; width: 24px;padding-right: 1px;
}
#git-logo{
    margin-top: -50px; margin-left: auto; width: 23px;
}
.div-footer{
    margin-top: -125px;
}